$alert-error-background: #f8d7da;
$alert-error-border: #f5c6cb;
$alert-error-font-color: #721c24;
$alert-warning-background: #fff3cd;
$alert-warning-border: #fff3cd;
$alert-warning-font-color: #856404;
$black: #000000;
$button-shadow: rgba(0, 0, 0, 0.24);
$gray: #666666;
$gray-light-01: #d3d3d3;
$loader: #FFA516;
$yellow-dark: #FFD400;
$yellow-light-01: #FFFEE0;
$yellow-light-02: #FFFFB7;
$yellow-light-03: #FDFA72;
$white: #FFFFFF;
$white-dark: #F9F9F9;