$black: #000000;
$button-shadow: rgba(0, 0, 0, 0.24);
$gray: #666666;
$gray-light-01: #d3d3d3;
$loader: #FFA516;
$yellow-dark: #FFD400;
$yellow-light-01: #FFFEE0;
$yellow-light-02: #FFFFB7;
$yellow-light-03: #FDFA72;
$white: #FFFFFF;
$white-dark: #F9F9F9;